<ion-header no-border>
  <ion-toolbar color="Translucent">
      <ion-title>Shape Up</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >
  <div class="slider-screen">
    <ion-slides class="slide" pager="true">
      <ion-slide style="background: url(/assets/gym4.jpg)center/cover ">
        <ion-button  color="white" size="large" class="open">View Workout Plan</ion-button>
      </ion-slide>
      <ion-slide style="background: url(/assets/gym.jpg)center/cover ">
        <ion-button  (click)="checkAmmenities()" color="white" size="large" class="open">Check Ammenities</ion-button>
      </ion-slide>
      <ion-slide style="background: url(/assets/gym5.png)center/cover ">
        <ion-button  color="white" size="large" class="open">Checkout Offers</ion-button>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

