<ion-header no-border>
  <ion-toolbar color="Translucent">
      <ion-title>Shape Up</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >
  <div class="slider-screen">
    <ion-slides class="slide" pager="true">
        <ion-slide *ngFor="let slide of slides" [ngStyle]="{'background':'url(' + slide.src + ')center/cover'}">
          <ion-button (click)="goTo(slide.link)"  color="white" size="large" class="open">{{slide.text}}</ion-button>
        </ion-slide>
    </ion-slides>
  </div>
</ion-content>

